<launch>
    
    <node pkg="nlink_t" type="nlink_node" name ="nlink_out_node" >
        <param name="uwb_in_topic" type="string" value="nlink_linktrack_nodeframe2"/>
        <param name="uwb_out_topic" type="string" value="uwb_msgs"/>
    </node>
    <node pkg="moving_filer" type="moving_filer" name ="moving_filer" >
        <param name="uwb_in_topic" type="string" value="uwb_msgs"/>
        <param name="uwb_out_topic" type="string" value="uwb_mags_filed"/>
    </node>
 
    <node pkg = "pozyx_simulation" type = "uwb_calculate_exper" name="uwb_calculate_LM" >
        <param name="uwb_topic" type="string" value="uwb_mags_filed"/>
    </node>
    
</launch>